.main-conatiner{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
.title-container{
    color: var(--text-light-grey);
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: start;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-container .search-bar input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.search-container .search-bar button{
    background-color: whitesmoke;
    font-size: 20px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-20%);
}
.search-container .sorting{
    display: flex;
    gap: 50px;
    background-color: whitesmoke;
    padding: 12px;
    font-size: 18px;
}
.search-container .sorting .name{
    color: var(--text-light-grey);
}
.pro-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.pro-container .left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: start;
}
.pro-container .right-container{
    flex: 4;
    width: 100%;
}
.pro-container .right-container .fruit-products{
    width: 100%;
}
.left-container .title{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-light-grey);
    margin-bottom: 20px;
}
.left-container .categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-container .fruits{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.left-container .categories .fruits .fruit-name{
    color: var(--primary-color);
}
.left-container .categories .fruits .fruit-count
{
    color: var(--text-light-grey);
}
.left-container .price{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-container .price input{
    color: var(--primary-color);
    text-decoration: var(--primary-color);
}
.additional{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
}
.additional ul{
    list-style: circle;
    font-size: 20px;
    color: var(--text-light-grey);
}
.left-container .featured{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.left-container .featured .container{
    display: flex;
    gap: 15px;
}
.left-container .featured img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.left-container .featured .container .image{
    width: 100px;
    height: 100px;
}
.left-container .featured .container .info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.left-container .featured .container .info .name{
    font-size: 20px;
    color: var(--text-light-grey);
}
.left-container .featured .container .info .rating{
    color: var(--primary-color);
    font-size: 20px;
}
.left-container .featured .container .info .conprice{
    color: var(--text-dark-grey);
    font-size: 20px;
    font-weight: 800;
}










